.article-card {
  border: 1px solid #ECECEC;
  margin-bottom: 2rem;
  display: block;
  text-decoration: none;
  padding: 1rem;
  transition: all 400ms ease;

  &:hover {
    text-decoration: none;
    background-color: $brand-secondary;

    .card-block {
      padding: 1.25rem 0;
      color: white;

      hr {
        border-color: #FFF;
      }

      .read-more {
        text-transform: uppercase;
        color: white;
      }

    }
  }

  .card-img-top {
    border-radius: 0px;
  }

  .card-block {
    padding: 1.25rem 0;

    h2.entry-title {
      font-size: 1.5rem;
    }

    .card-text {
      p {
        font-size: 0.8rem;
        text-align: justify;
      }
    }

    .read-more {
      text-transform: uppercase;
      color: $gray;
    }
  }
}
