.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus, *:focus {
  outline: 0;
}

::selection {
  background: #AD8A5F;
  color: #FFF;
}
::-moz-selection {
  background: #AD8A5F;
  color: #FFF;
}


.material-icons {
  vertical-align: middle;
}

.wrap {
  & > .content {
    flex-direction: column;

    .main {
      margin-top: 70px;
      padding: 0;

      @media(min-width: map-get($grid-breakpoints, md)) {
        margin-top: 120px;
      }
      @media(min-width: map-get($grid-breakpoints, lg)) {
        margin-top: 70px;
      }
    }
  }
}

body.home .wrap .content .main {
  margin-top: 0;
}


img {
  max-width: 100%;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
}
button.close { z-index: 1000;
  span {
    font-weight: 100;
    font-size: 40px;
    font-family: "Lato";

    @media(min-width: map-get($grid-breakpoints, sm)) {
      font-size: 65px;
    }
  }

  &.bio-close {
    top: 0.5rem;
    right: 2rem;
  }
}

.left-hr::after {
  content: "";
  width: 50%;
  margin: 1rem 0;
  max-width: 250px;
  display: block;
  height: 3px;
  background-color: #BFBFBF;
}

.divider {
  margin: 1rem 0;
  text-align: center;
  
  span {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: $light-gray;
  }
}

.four-columns {
  @media(min-width: map-get($grid-breakpoints, xs)) {
    @include make-col-span(12);
  }
  @media(min-width: map-get($grid-breakpoints, sm)) {
    @include make-col-span(4);
  }
  @media(min-width: map-get($grid-breakpoints, md)) {
    @include make-col-span(3);
  }
}

.three-columns {
  @media(min-width: map-get($grid-breakpoints, xs)) {
    @include make-col-span(12);
  }
  @media(min-width: map-get($grid-breakpoints, sm)) {
    @include make-col-span(6);
  }
  @media(min-width: map-get($grid-breakpoints, md)) {
    @include make-col-span(4);
  }
}

