/* Font styles */
$base-font-family:      "Bliss Pro";
$nav-font:              $base-font-family;
$base-header-font:      "Garamond";

body {
  font-family: $base-font-family;
  color: $gray;
}

.uppercase {
  text-transform: lowercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.normalcase {
  text-transform: initial !important;
}

.italic {
  font-style: italic !important;
}

.spaced-out {
  letter-spacing: 2px !important;
}

.accent-font {
  font-family: $base-font-family;
}

.thin-font {
  font-family: $base-font-family;
  text-transform: uppercase;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  font-family: $base-font-family;
  text-transform: uppercase;
}

@media(max-width: map-get($grid-breakpoints, sm)) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
}

blockquote {
  font-family: $base-header-font;
  width: 80%;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
}

article.post .entry-content p:first-child:first-letter {
  font-family: "Butler Black";
  font-size: 3rem;
  line-height: 0.7;
}

h1.header {
  font-size: 2rem;
  text-align: center;
  color: $gray;

  &:after {
    content: "";
    width: 150px;
    height: 3px;
    background-color: $gray;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }

  @media(min-width: map-get($grid-breakpoints, sm)) {
    font-size: 3rem;
  }
}

.page-header {
  padding: 2rem 0 0 0;
}

/* Header fonts without hero image background */
.contact-card h1.header,
.page-header.no-hero h1.header {
  @extend .accent-font;
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  color: $gray;
  padding: 2rem;

  @media(min-width: map-get($grid-breakpoints, sm)) {
    font-size: 3rem;
    padding: 3rem;
  }
}

/* Header fonts with hero image background */
.page-header.hero h1.header {
  letter-spacing: 0.4rem;
  color: #FFF;

  @media(min-width: map-get($grid-breakpoints, sm)) {
    letter-spacing: 1rem;
    margin-bottom: 5rem;
  }
}
